.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
assets
build
components
icons
node_modules
src
templates
variants
bower.json
README-symbols-for-sketch.md
README-vue-awsome.md
gulpfile.js
webpack.config.js